
# intellij files
.idea/
*.iml
*.ipr
*.iws
build-idea/

# eclipse files
.project
.classpath
.settings
build-eclipse/


# gradle stuff
.gradle/
build/


# maven stuff (to be removed when trunk becomes 4.x)
*-execution-hints.log
target/
dependency-reduced-pom.xml

# testing stuff
**/.local*
.vagrant/
/logs/

# osx stuff
.DS_Store

